<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>i-cresco | error</title>
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.css"
          integrity="sha512-7VGuxKU1BFMmA+dC7NiW8jF0YOIe6bibjUBr42unVtEsI/UYzXMS3nkgNvmsY4yqauxeiEs4bXF6fPLsCuxN/A=="
          referrerpolicy="no-referrer" rel="stylesheet"/>
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
          integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
          referrerpolicy="no-referrer" rel="stylesheet"/>
</head>
<body>
<div class="columns">
    <div class="column is-half is-offset-one-quarter">
        <section class="section">
            <h2 class="title">[[${status}]] - [[${error}]]</h2>
            <div class="box">
                <article class="media">
                    <div class="media-left">
                        <span class="is-size-1">🦄</span>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>Unicorn</strong>
                                <small>@unicorn</small>
                                <small>2 seconds ago</small>
                                <br>
                                Ooops! Something went wrong.
                            </p>
                        </div>
                        <nav class="level is-mobile">
                            <div class="level-left">
                                <a class="level-item">
                                    <span class="icon is-small"><i class="fa fa-reply"></i></span>
                                </a>
                                <a class="level-item">
                                    <span class="icon is-small"><i class="fa fa-retweet"></i></span>
                                </a>
                                <a class="level-item">
                                    <span class="icon is-small"><i class="fa fa-heart"></i></span>
                                </a>
                            </div>
                        </nav>
                        <article class="media">
                            <div class="media-left">
                                <span class="is-size-1">🐼</span>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>Just a Panda</strong>
                                        <small>@sadpanda</small>
                                        <small>just now</small>
                                        <br>
                                        Oh no... :-(
                                        <br>
                                        Just got a [[${status}]] [[${error}]]
                                    </p>
                                </div>
                                <nav class="level is-mobile">
                                    <div class="level-left">
                                        <a class="level-item">
                                            <span class="icon is-small"><i class="fa fa-reply"></i></span>
                                        </a>
                                        <a class="level-item">
                                            <span class="icon is-small"><i class="fa fa-retweet"></i></span>
                                        </a>
                                        <a class="level-item">
                                            <span class="icon is-small"><i class="fa fa-heart"></i></span>
                                        </a>
                                    </div>
                                </nav>
                            </div>
                        </article>
                    </div>
                </article>
            </div>
        </section>
    </div>
</div>
</body>
</html>